<h1>Create Trip</h1>

<div class="row">
  <div class="col-sm-12">
<!--    <button type="button" class="btn btn-primary"></button>-->
    <%= form_for @trip, url: "/trip", method: "post" do |f| %>
      <div class="form-group">
        <input id="destination_ids" type="text" hidden name="destination_ids">
      </div>
      <div class="form-group">
        <b>Trip Name:</b> <%= f.text_field :name,  class: "form-control", placeholder: "trip name" %>
      </div>
      <div class="form-group">
        <b>Trip Date:</b> <%= f.text_field :trip_date, class: "form-control", placeholder: "trip date, YYYY-mm-dd" %>
      </div>
      <%= f.submit "Create", class: "btn btn-primary", style: "margin-right: 15px" %>

  <% end %>
    <br/>
    <b>Trip Destinations:</b>
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">State</th>
        <th scope="col">City</th>
        <th scope="col">Type</th>
        <th scope="col">Description</th>
      </tr>
      </thead>
      <tbody id="table">
      <% @destinations.each do |destination| %>
        <tr>
          <th scope="row"><input id="js-all-checkbox" type="checkbox" onclick="select_d(this.checked, <%= destination.id %>)"></th>
          <td><%= destination.name %></td>
          <td><%= destination.state %></td>
          <td><%= destination.city %></td>
          <td><%= destination.destination_type %></td>
          <td><%= destination.description %></td>
        </tr>
      <% end -%>

      </tbody>
    </table>
<!--    <nav aria-label="Page navigation">-->
<!--      <ul class="pagination justify-content-end">-->
<!--        <li id="pre" class="page-item">-->
<!--          <a class="page-link" onclick="pageT('pre')">Pre</a>-->
<!--        </li>-->

<!--        <li id="pageContent" class="page-item"></li>-->

<!--        <li id="next" class="page-item">-->
<!--          <a class="page-link"  onclick="pageT('next')">Next</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </nav>-->
    <%= will_paginate @destinations, :previous_label  => 'Pre', :next_label => 'Next' %>
  </div>
</div>

<%= content_for :javascripts do %>
  <script type="text/javascript">
    let selected = new Set()
    let data = []
    let page = 1
    let size = 10

    function select_d(checked, d_id) {
        if (checked === true) {
            selected.add(d_id)
        } else {
            selected.delete(d_id)
        }
        console.log(selected)
        document.getElementById("destination_ids").value = setToStr(selected)
    }

    function setToStr(s){
        arr = Array.from(s)
        return arr.join(',')
    }

    function pageFunc(total) {
        if(page <= 1) {
            $("#pre").addClass("disabled")
        } else {
            $("#pre").removeClass("disabled")
        }
        if (page >= (parseInt(total / size) + 1)) {
            $("#next").addClass("disabled")
        } else {
            $("#next").removeClass("disabled")
        }
        $("#pageContent").value = page + '/' + (parseInt(total / size) + 1)
    }

    function pageT(t) {
        if (t === "pre") {
            page = page - 1
        } else {
            page = page + 1
        }
        getData(page)

    }

    // ajax load data
    function getData(page) {
        $.ajax({
            url : "/destination/list",
            type : "get",
            dateType : "json",
            data: {"page": page, "size": size},
            success : function(res) {
                loadData(res.data);
            }
        });
    }

    function loadData(data) {
        let table = $("#table")
        table.innerHTML = ''
        for (let row in data) {
            let newTr = $("<tr></tr>")
            let selectTh = $('<th scope="row"><input id="js-all-checkbox" type="checkbox"></th>')
            let name = $("<td></td>")
            let state = $("<td></td>")
            let city = $("<td></td>")
            let destination_type = $("<td></td>")
            let description = $("<td></td>")

            // selectTh.addEventListener("onclick", "select_d(this.checked, row.id)")
            name.text(row.name)
            state.text(row.state)
            city.text(row.city)
            destination_type.text(row.destination_type)
            description.text(row.description)

            newTr.append(selectTh)
            newTr.append(name)
            newTr.append(state)
            newTr.append(city)
            newTr.append(destination_type)
            newTr.append(description)
            table.append(newTr)
        }
    }

    // $(function() {
    //     getData(page)
    // });


  </script>
<% end -%>
